body {
  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  height: 90vh;
  margin: 0px;
  width: 100%;
  min-width: 300px;
}

p {
  text-align: center;
}

footer {
  padding: 20px;
  display: block;
  background-color: #dfb93e;
  height: 10vh;
}

/* */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.pizzabot {
  padding: 20px;
  height: 370px;
  width: 90%;
  max-width: 700px;
  background-color: #dfb93e;
  background-color: rgba(223, 185, 62, 0.8);
  border-radius: 50px;
  position: relative;
}

#first,
#second,
#third,
#fourth,
.controls {
  width: 100%;
  max-width: 700px;
  text-align: center;
  height: 80%;
}

#first {
  line-height: 35px;
}

/* Controls */
.controls {
  height: 20%;
}

.controls button {
  background-color: #dfb93e;
  margin: 0px 10px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border: 1px #000000 solid;
  border-radius: 10px;
  text-decoration: none;
}

.controls #next_btn:hover {
  border: 2px darkgreen solid;
  cursor: pointer;
}

.controls #back_btn:hover {
  border: 2px red solid;
  cursor: pointer;
}

/* second div */

figure {
  margin: 10px;
  display: inline-block;
}

#second .three_pizzas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

figure img {
  height: 150px;
  width: 150px;
}

.pizzas_number {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input {
  display: none;
}

label {
  cursor: pointer;
}

/* If checked */
[type="radio"]:checked+figure img {
  outline: 6px solid darkgreen;
}

/* If checked */
[type="radio"]:checked+.numBtn {
  background-color: darkgreen;
  color: white;
}

/* fourth div */
.numBtn {
  display: inline-block;
  background-color: #dfb93e;
  border: 1px black solid;
  height: 50px;
  width: 50px;
  margin: 5px;
  font-size: 24px;
  border-radius: 10px;
  line-height: 50px;
}

.numBtn:hover {
  background-color: #df993e;
}

@media (max-width: 600px) {

  body {
    font-size: 18px;
  }

  .pizzabot {
    height: 330px;
  }

  h1 {
    font-size: 23px;
  }

  h3 {
    font-size: 20px;
  }

  figure img {
    height: 90px;
    width: 90px;
  }

  #fourth img {
    height: 120px;
  }

  footer {
    font-size: 14px;
  }

}